<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">Personal Gaming Library</h1>
      <p class="lead text-center">
        Welcome to your personal gaming library! Here you can manage your games, track your playtime, and share your gaming experiences with friends.
      </p>
      <p class="text-center">
        With this system, you can easily add new games, update your playtime, and even categorize your games by genre or platform. Whether you're a casual gamer or a hardcore enthusiast, this library is designed to help you keep track of your gaming adventures.
      </p>
      <p class="text-center">Some of the features include:</p>

      <ul class="list-group mb-4">
        <li class="list-group-item">Add new games to your library</li>
        <li class="list-group-item">Visualize your gaming statistics</li>
        <li class="list-group-item">Update your gaming progress</li>
        <li class="list-group-item">Share your gaming experiences with friends</li>
      </ul>

      <div class="text-center mt-4">
        <a routerLink="/adicionar-jogo" class="btn btn-outline-success btn-lg m-2">Adicionar Jogo</a>
        <a routerLink="/listar-jogos" class="btn btn-outline-primary btn-lg m-2">Visualizar Jogos</a>
        <a routerLink="/estatisticas" class="btn btn-outline-warning btn-lg m-2">Estatisticas</a>
      </div>
    </div>
  </div>
</div>
