/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.page-background {
  min-height: 100vh;
  background-color: #121212;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}